$tan: #f7e5d6;
$blue: #0C3CB5;
$black: #333333;
$white: #fdfdfd;
$darkblue: #002b55;

@font-face {
    font-family: 'TheinReg';
    src: url("../assets/fonts/Theinhardt-Regular.otf");
}

@font-face {
    font-family: 'TheinBold';
    src: url("../assets/fonts/Theinhardt-Bold.otf");
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');